<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Add Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <!-- Add bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Add css -->
  <link rel="stylesheet" type="text/css" href="application.css">
  <link rel="stylesheet" type="text/css" href="drop_menu.css">
  <!-- Add Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Jquery for date picker -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <title>My Chart.js Chart</title>
</head>
<body>


  <!-- form to input data -->
  <div class="center">
    <form id="form-block" method="POST" action="http://localhost:3000/api/emotional_states">
    <h2 class="form-input-heading">Enter a new evaluation</h2>

    <div class="inline">
      <div class="emotion-name">Date</div>
      <input class="input-date" type="text" required id="datepicker" name="date">
    </div>

    <div class="inline">
      <div class="emotion-name">Anger</div>
      <input class="input-score" type="text" required name="anger"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Happiness</div>
      <input class="input-score" type="text" required name="happiness"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Sadness</div>
      <input class="input-score" type="text" required name="sadness"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Frustration</div>
      <input class="input-score" type="text" required name="frustration"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Empathy</div>
      <input class="input-score" type="text" required name="empathy"> 
      /100
    </div>
    
    <button class="save-btn btn btn-block" type="submit">Save</button>
    </form>
  </div>

  <!-- display of the charts -->

  <!-- last evaluation -->
  <div class="center">
    <div id="container-block">
    <h2 class="title-last">last evaluation</h2>
      <button type="button" id="bar-btn" class="navbtn btn btn-info">Bar Chart</button>
      <button type="button" id="horizontal-bar-btn" class="navbtn btn btn-info">Horiz. Bar Chart</button>
      <button type="button" id="pie-btn" class="navbtn btn btn-info">Pie Chart</button> 
      <!-- <button type="button" id="line-btn" class="navbtn btn btn-info">Line Chart</button> -->
      <button type="button" id="doughnut-btn" class="navbtn btn btn-info">Doughnut Chart</button>
      <button type="button" id="radar-btn" class="navbtn btn btn-info">Radar Chart</button> 
      <button type="button" id="polar-area-btn" class="navbtn btn btn-info">Polar Area Chart</button> 
    <canvas id="canvas1"></canvas>
    </div>
  </div>

  <!-- last week evaluation -->
    <div class="center">
    <div id="container-block">
    <h2 class="title-last">last week</h2>
      <button type="button" id="bar-btn" class="navbtn btn btn-info">Bar Chart</button>
      <button type="button" id="horizontal-bar-btn" class="navbtn btn btn-info">Horiz. Bar Chart</button>
      <button type="button" id="line-btn" class="navbtn btn btn-info">Line Chart</button>
    <canvas id="canvas2"></canvas>
    </div>
  </div>

  <!-- last month evaluation -->
  <div class="center">
    <div id="container-block">
    <h2 class="title-last">last month</h2>
      <button type="button" id="line-btn" class="navbtn btn btn-info">Line Chart</button>
    <canvas id="canvas3"></canvas>
    </div>
  </div>

  <!-- last year evaluation -->
  <div class="center">
    <div id="container-block">
    <h2 class="title-last">last year</h2>
      <button type="button" id="line-btn" class="navbtn btn btn-info">Line Chart</button>
    <canvas id="canvas4"></canvas>
    </div>
  </div>

  <script>

  // date picker from jquery
  $( function() {
    $( "#datepicker" ).datepicker();
  } );


  $('form').on('submit', postEmotionalState);

  function postEmotionalState(e){
    e.preventDefault();
    let date = e.target[0].value
    let anger_score_value = e.target[1].value
    let happiness_score_value = e.target[2].value
    let sadness_score_value = e.target[3].value
    let frustration_score_value = e.target[4].value
    let empathy_score_value = e.target[5].value

    $.ajax({
      type: 'POST',
      url: "http://localhost:3000/api/emotional_states",
      data: {
        date : date, 
        anger_score : anger_score_value, 
        happiness_score : happiness_score_value,
        sadness_score : sadness_score_value,
        frustration_score : frustration_score_value,
        empathy_score : empathy_score_value, 
      },
      // dataType: "text",
      success: function(resultData) { 
        alert("Save Complete");
        location.reload(); 
      }
    });
  }


  // default styling for the chart
  Chart.defaults.global.defaultFontFamily = 'Lato';
  Chart.defaults.global.defaultFontSize = 15;
  Chart.defaults.global.defaultFontColor = '#777';



  var config = {
    type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Anger', 'Happiness', 'Sadness', 'Frustration', 'empathy'],
        datasets:[{
          label:'Emotion',
          data:[
            3,
            67,
            45,
            23,
            44
          ],

          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        maintainAspectRatio: false,
        title:{
          display:true,
          text:'Range of emotions',
          fontSize:25
        },
        legend:{
          display:false,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:0,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    };


  var myChart;

  $("#bar-btn").click(function() {
    change('bar');
  });

  $("#pie-btn").click(function() {
    change('pie');
  });

  $("#horizontal-bar-btn").click(function() {
    change('horizontalBar');
  });

  $("#line-btn").click(function() {
    change('line');
  });

  $("#doughnut-btn").click(function() {
    change('doughnut');
  });

  $("#radar-btn").click(function() {
    change('radar');
  });

  $("#polar-area-btn").click(function() {
    change('polarArea');
  });


  function change(newType) {
    var ctx = document.getElementById("canvas1").getContext("2d");

    // Remove the old chart and all its event handles
    if (myChart) {
      myChart.destroy();
    }

    // Chart.js modifies the object you pass in. Pass a copy of the object so we can use the original object later
    var temp = jQuery.extend(true, {}, config);
    temp.type = newType;
    myChart = new Chart(ctx, temp);
  };

  </script>
</body>
</html>
