<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Add Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <!-- Add bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Add css -->
  <link rel="stylesheet" type="text/css" href="application.css">
  <!-- Add Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Jquery for date picker -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- JavaScript for the index is application.js -->
  <script src="application.js"></script>


  <title>Emotional state charts</title>
</head>
<body>


  <!-- form to input data -->
  <div class="center">
    <form id="form-block" method="POST" action="http://localhost:3000/api/emotional_states">
    <h2 class="form-input-heading">Enter a new evaluation</h2>

    <div class="inline">
      <div class="emotion-name">Date</div>
      <input class="input-date" type="text" required id="datepicker" name="date" autocomplete="off">
    </div>

    <div class="inline">
      <div class="emotion-name">Anger</div>
      <input class="input-score" type="text" required name="anger"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Happiness</div>
      <input class="input-score" type="text" required name="happiness"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Sadness</div>
      <input class="input-score" type="text" required name="sadness"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Frustration</div>
      <input class="input-score" type="text" required name="frustration"> 
      /100
    </div>

    <div class="inline">
      <div class="emotion-name">Empathy</div>
      <input class="input-score" type="text" required name="empathy"> 
      /100
    </div>
    
    <button class="save-btn btn btn-block" type="submit">Save</button>
    </form>
  </div>

  <!-- display of the charts -->

  <!-- last evaluation -->
  <div class="center">
    <div id="container-block">
    <h2 class="title-last">last evaluation</h2>
      <button type="button" id="bar-btn" class="navbtn btn btn-info">Bar Chart</button>
      <button type="button" id="horizontal-bar-btn" class="navbtn btn btn-info">Horiz. Bar Chart</button>
    <canvas id="canvas1"></canvas>
    </div>
  </div>

  <!-- last week evaluation -->
    <div class="center">
    <div id="container-block">
    <h2 class="title-last">last week</h2>
      <button type="button" id="line-btn-week" class="navbtn btn btn-info">Line Chart</button>
    <canvas id="canvas2"></canvas>
    </div>
  </div>

  <!-- last month evaluation -->
  <div class="center">
    <div id="container-block">
    <h2 class="title-last">last month</h2>
      <button type="button" id="line-btn-month" class="navbtn btn btn-info">Line Chart</button>
    <canvas id="canvas3"></canvas>
    </div>
  </div>

  <!-- last year evaluation -->
  <div class="center">
    <div id="container-block">
    <h2 class="title-last">last year</h2>
      <button type="button" id="line-btn-year" class="navbtn btn btn-info">Line Chart</button>
    <canvas id="canvas4"></canvas>
    </div>
  </div>
</body>
</html>
